body {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    font-family: verdana;
  }
  
  .titulo {
    color: white; 
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .informacao{
      margin: 10px; 
      display:flex;
      flex-direction: column;
      align-items: center; 
      color:white;
  
  }
  .imagem{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    
  }
  .captura{
    margin: 10px; 
    display:flex;
    flex-direction: column;
    align-items: center; 
    color:white;
    border-top: 2px solid #e7e7e7;
  }
  #data{
  margin: 10px;
  background-color: #e8f1f2;
  width: 180px;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  color: #383e41;
  }
  #pesquisar{
    margin: 10px;
    background-color: #e8f1f2;
    width: 180px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #383e41;
  }
  .botoes{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
  }
  .posicao-elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title{
    width: auto;
    height: auto;
    text-align: center;
    color: white;
  }

  .organizacao{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }